{% extends "base/index.html" %}
{%block nav%}{%endblock%}
{% block title_for_page %}
	Feed - Login
{%endblock%}
{% block content %}
<div class="page">
{% if form.errors %}
<p class="error-text">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'registration:login' %}">
{% csrf_token %}
    <div class="form-item">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div class="form-item">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>

<div class="form-item"><input class="main-button" type="submit" value="Login"></div>
<input type="hidden" name="next" value="{{ next }}">
</form>
<ul class="reg-links">
    <li><a href="{% url 'indieauth:index' %}">Login or create an account with my URL</a></li>
    <li><a href="{% url 'registration:signup' %}">Create a username-based account</a></li>
</ul>

</div>
{% endblock %}
